

#logo {
    background-image: url(assets/Logo.png);
    margin: 4px;
    height: 62px;
    width: 405px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    border: 4px solid #000000;
    border-radius: 6px;
    float: left;
}


#flagsTH {
    background-image: url(assets/Thailand.png);
    margin: 4px;
    height: 62px;
    width: 90px;
    padding: 0px;
    border: 4px solid #000000;
    border-radius: 6px;
    float: right;
    opacity: .75;
}


#flagsES {
    background-image: url(assets/Spain.png);
    margin: 4px;
    height: 62px;
    width: 90px;
    padding: 0px;
    border: 4px solid #000000;
    border-radius: 6px;
    float: right;
    opacity: .75;
}


#flagsUK {
    background-image: url(assets/UK.png);
    margin: 4px;
    height: 62px;
    width: 90px;
    padding: 0px;
    border: 4px solid #000000;
    border-radius: 6px;
    float: right;
    opacity: .75;
}


ul {
    width: 100%;
    list-style-type: none;
    margin: none;
    overflow: hidden;
    white-space: wrap;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
}

li {
    float: left;
    display: block;
    color: white;
    background-color: #2538CF;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    padding-left: 41px;
    padding-right: 41px;
    border: 4px solid black;
    border-radius: 6px;
    text-decoration: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 2px solid #5C8DBB;
    height: 52px;
    padding: 10px 0px 10px 10px;
    color: black;
    border-radius: 6px;
    font-size: 1em;
}
input {
    width: 100%;
    border: 2px solid #5C8DBB;
    height: 52px;
    color: black;
    border-radius: 6px;
    font-size: 1em;
}


/*
button {
    width: 100%;
    border: 2px solid #5C8DBB;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    font-size: 14;

*/
}
    
button {
    width: 100%;
    border: 2px solid #5C8DBB;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 6px;
    font-size: 14;
    
    
    
    }
 


a:active {
    color: rgba(229,166,217,1.00);
}
#loginbox {
    font-size: 20px;
    float: right;
    width: auto;
    height: auto;
    border: 4px solid #5C8DBB;
    border-radius: 6px;
}

#logoutbox {
    font-size: 20px;
    float: right;
    width: auto;
    height: 23px;
    border: 4px solid #5C8DBB;
    border-radius: 6px;
}
#container1 {
    font-size: 20px;
    background-color: #FFFFFF;
    height: auto;
    width: 90%;
    border: 4px solid #5C8DBB;
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 6px;
}

    #container1 a:link {
        color: blue
    }


#home_container {
    font-size: 20px;
    background-color: #FFFFFF;
    height: 800px;
    width: 90%;
    border: 4px solid #5C8DBB;
    border-radius: 6px;
    padding: 1%;
    margin-right: auto;
    margin-left: auto;
}



    #home_container #leftsub {
        float: left;
        width: 47%;
        height: 47%;
        margin-left: 0px;
        margin-top: 0px;
        background: white;
        padding: 5px;
        border: 2px solid #5C8DBB;
        border-radius: 6px;
    }


        #home_container #leftsub #info {
            float: center;
            width: 97%;
            height: 47%;
            margin-left: 0px;
            margin-top: 0px;
            background: white;
            padding: 5px;
            border: 2px solid #5C8DBB;
            border-radius: 6px;
        }


    #home_container #rightsub {
        float: right;
        width: 47%;
        height: 47%;
        margin-right: 0px;
        margin-top: 0px;
        background: white;
        border: 2px solid #5C8DBB;
        border-radius: 6px;
        padding: 5px;
    }


        #home_container #rightsub #info {
            float: center;
            width: 97%;
            height: 47%;
            margin-left: 0px;
            margin-top: 0px;
            background: white;
            padding: 5px;
            border: 2px solid #5C8DBB;
            border-radius: 6px;
        }


    #home_container #registration {
        float: left;
        background-color: white;
        height: 47%;
        width: 47%;
        border: 2px solid #5C8DBB;
        border-radius: 6px;
        padding: 5px;
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }


        #home_container #registration a:link {
            color: blue;
        }


    #home_container #login {
        float: left;
        background-color: white;
        height: 47%;
        width: 47%;
        border: 2px solid #5C8DBB;
        padding: 5px;
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 6px;
    }


    #home_container #extra {
        float: right;
        background-color: white;
        height: 47%;
        width: 47%;
        border: 2px solid #5C8DBB;
        border-radius: 6px;
        padding: 5px;
        margin-bottom: 0px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }


        #home_container #extra a:link {
            color: blue
        }


.dropbtn {
    background-color: #2538CF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


    .dropbtn:hover, .dropbtn:focus {
        background-color: #2538CF;
    }


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


        .dropdown-content a:hover {
            background-color: #ddd
        }


.show {
    display: block;
}


#footer {
    float: bottom;
    height: 3%;
    width: 90%;
    padding: 1%;
    border: 4px solid #5C8DBB;
    border-radius: 6px;
    border-style: solid;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 640px) {
    width: auto;
}
